.menu-bar {
    background: rgb(255, 255, 255);
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li {
    width: 120.5px;
    margin: 9px;
    padding: 9px;
}
.menu-bar ul li a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(119, 119, 119);
}
.menu-bar ul li:hover {
    background-color: rgb(252, 188, 92);
    border-radius: 2px;
}
hr {
    color: rgb(119, 119, 119);
}
header {
    background-color: rgb(119, 119, 119);
    padding: 200px;
    text-align: center;
    color: white;
    background-image: url(Background.jpg);
   
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0.7cm;
    text-transform: uppercase;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.box {
	width: 1480px;
	height: 80px;
	background: rgb(119, 119, 119);
	padding: 15px;
	text-align: center;
	margin: auto;
	margin-top: 0.05cm;
	color: white;
	font-family:'Century Gothic',sans-serif;
}
img {
    margin-top: -120px;
    border: 5px solid rgb(119, 119, 119);
    border-radius: 98%;
    margin-left: 20px;
    float: left;
}
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 25px;
    color: rgb(3, 3, 3);
    margin-left: 690px;
}
h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: justify;
    color: rgb(3, 3, 3);
    margin-top: 12px;
    text-indent: 40px;
    line-height: 1.8;
    border: 1px solid rgb(253, 253, 253);
    padding: 9px;
    margin-right: 200px;
    margin-left: 380px;
}
footer {
    background-color: rgb(119, 119, 119);
    width: 1480px;
    height: 4cm;
    text-align: center;
    padding: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: ghostwhite;
    margin: auto;
}
.image1 {
    margin-top: 10px;
    margin-left: 40px;
}

.image2 {
    margin-top: 10px;
    margin-left: 600px;
}

.image3 {
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 98%;
}

p {
    margin-right: 90px;
    margin-top: 5px;
}