.menu-bar {
    background: rgb(255, 255, 255);
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li {
    width: 137.5px;
    margin: 9px;
    padding: 9px;
}
.menu-bar ul li a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(119, 119, 119);
}
.menu-bar ul li:hover {
    background-color: rgb(252, 188, 92);
    border-radius: 2px;
}
hr {
    color: rgb(119, 119, 119);
}

header {
    background-color: rgb(252, 188, 92);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  footer {
    background-color: rgb(119, 119, 119);
    width: 100%;
    text-align: center;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: ghostwhite;
}
.image1 {
    margin-top: 10px;
    margin-left: 20px;
}

.image2 {
    margin-top: 10px;
    margin-left: 20px;
}

.image3 {
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 98%;
}


* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #ffffff;
    font-family: Arial;
  }
  
  .main {
    margin: justify;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 10px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 33.33%;
    display: none; 
  }
  
   
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .content {
    background-color: rgb(119, 119, 119);
    padding: 10px;
  }
  
 
  .show {
    display: block;
  }
  
  
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: rgb(119, 119, 119);
    color: white;
  }
 
  h4 {
    color: white;
}
